body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

aside {
    width: 440px;
    background: #dbf3fa;
    margin-left: 30px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 10px;

    h2 {
        margin-top: 5em;
        font-size: 1.8em;
        text-align: center;
    }

    h2.first {
        margin-top: 1rem;
    }

    .buttons {
        margin-top: 5em;
        font-family: 'Montserrat';
    }

    .btn {
        margin: 40px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        border: 3px solid white;
        border-radius: 40px;
        box-shadow: 4px 4px rgba(0,0,0,0.4);
        transition: transform 0.2s ease;
        font-family: 'Montserrat';

        img {
            width: 30px;
            height: 30px;
            margin: 5px 10px 5px 0px;
            padding: 5px;
        }

        a {
            color: white;
            text-decoration: none;
            font-weight: bold;
            font-size: 1.75em;
        }
    }

    aside .btn a:focus {
        color: black;
    }

    .button-one {
        transform: rotate(0deg);
        background: rgb(59,121,175);
    }

    .button-one:hover, .button-one:focus  {
        transform: rotate(-7deg);
        background: rgba(0,0,0,0.7);
    }

    .button-two {
        background: #e84a27;
        transform: rotate(0deg);
    }

    .button-two:hover, .button-two:focus {
        transform: rotate(9deg);
        background: rgba(0,0,0,0.7);
    }

    .button-three {
        transform: rotate(0deg);
        background: #13294B;
    }

    .button-three:hover, .button-three:focus {
        transform: rotate(-4deg);
        background: rgba(0,0,0,0.7);
    }

    @media (prefers-reduced-motion: reduce) {
        .button-one:focus, .button-two:focus, .button-three:focus, .button-one:hover, .button-two:hover, .button-three:hover {
            transform: none!important;
        }
    }

    .donation {
        text-align: center;
        p {
            font-size: 1.25em;
        }
    }
}

.main main ul.authorlist {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(auto-fit,300px);
    text-align: center;
    grid-gap: 20px;
    padding-left: 0;
    margin: 3em 0 0 0;

    img {
        max-width: 100%;
        width: 100%;
        margin-left: 0;
    }

    p {
        margin-left: 0;
        text-indent: 0;
        line-height: initial;
    }
}

@media only screen and (max-width: 800px) {
    .main main ul.authorlist {
        display: block;

        li {
            margin-bottom: 50px;
        }
    }
}

a.ilw-button {
    width: 40%;
}

.bannerPhoto {
    position: relative;
    width: 100%;
    height: 700px;
    max-height: 50vw;
    background-size: cover;
    clear: both;
    background-repeat: no-repeat;
    background-position: center;

    &.homepage {
        background-position: top;
    }
}

/* Blockquote main style */
.blockquote {
    position: relative;
    padding: 30px 0;
    width: 100%;
    font-size: 1.25em;
    margin: 10px auto 80px auto;
    border-top: solid 1px var(--il-orange);
    border-bottom: solid 1px var(--il-orange);

    &.nolines
    {
        border: none;
        font-size: 1em;
    }
}

/* Blockquote header */
.blockquote div {
    position: relative;
    font-size: 40px;
    font-weight: 800;
    line-height: 1;
    margin: 0;
}

/* Blockquote right double quotes */
.blockquote:after {
    position: absolute;
    content: "”";
    color: var(--il-orange);
    font-size: 10rem;
    line-height: 0;
    bottom: -43px;
    right: 30px;
    font-weight: bold;
}

/* increase header size after 600px */
@media all and (min-width: 600px) {
    .blockquote div {
        font-size: 60px;
   }
}

body.sponsors .main main h2 {
    font-size: 3em;
    color: var(--il-blue);
    border-bottom: thin solid var(--il-blue);
    border-top: thin solid var(--il-blue);
    padding: 20px;
}

.main {
    padding: 30px 20px 30px 100px;
    max-width: 1480px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background: #ffffff;

    main {
        width: calc(100% - 500px);
        
        h1, h2, h3, h4 {
            text-align: center;
        }
        ilw-card h2, ilw-card h3, ilw-card h4 {
            text-align: left;
        }


        p {
            text-indent: 40px;

            &.byline {
                font-size: calc(2em + 2vw);
                line-height: 1.25em;
                text-align: center;
                color: var(--il-blue-80);
                text-indent: 0;
                margin: 0;
                font-weight: bold;
            }

            &.noindent {
                text-indent: 0;
            }
        }

        ilw-card p {
            text-indent: 0;
        }

        p img {
           margin-left: -40px;
        }

        img {
            width: 100%;
            max-width: 100%;

            &.left {
                width: 50%;
                max-width: 50%;
                float: left;
                padding: 30px 30px 30px 0;
            }

            &.right {
                width: 50%;
                max-width: 50%;
                float: right;
                padding: 30px 0 30px 30px;
            }

            &.top-left {
                width: 50%;
                max-width: 50%;
                float: left;
                padding: 0 30px 30px 0;
            }

            &.top-right {
                width: 50%;
                max-width: 50%;
                float: right;
                padding: 0 0 30px 30px;
            }
        }

        .aside {
            float: left;
            width: 40%;
            margin-right: 20px;
            padding-right: 20px;
            border-right: thin solid var(--il-orange);

            &.right {
                float: right;
                margin-right: 0;
                padding-right: 0;
                margin-left: 20px;
                padding-left: 20px;
                border-left: thin solid var(--il-orange);
                border-right: none;
            }
        }

        .stats {
            display: grid;
            grid-template-columns: repeat(auto-fit, 400px);
            text-align: center;
            justify-content: space-evenly;

            li {
                padding: 1vw;
                font-size: 1.5em;

                span {
                    font-size: 5em;
                    font-weight: bold;
                    display: block;
                    color: var(--il-orange);
                    line-height: initial;
                }
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    .main {
        display: block;
        padding: 10px 0;

        main {
            width: 100%;
            display: block;
            padding: 0 10px;
            p {
                text-indent: 0;
            }
            p img {
               margin-left: 0;
            }
        }

        aside {
            width: 100%;
            margin: 0;
            padding: 20px 0;
        }
    }
}

.circlecol {
    position: absolute;
    padding-left: 50px;
    top: 90px;
    z-index: 100;
    margin-top: 125px;

    .circle {
        color: #ffffff;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        font-size: 1.5em;
        display: block;
        margin: 12px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: var(--il-blue);
        font-family: var(--il-menu-font);

        &.orange {
            background: var(--il-orange);
        }
    }

    .circle-highlighted-text {
        font-size: 1.4em;
        font-weight: bold;
    }

    span.number {
        font-size: 1.7em;
        display: block;
    }

    .flyout1 {
        position: absolute;
        left: 110%;
        margin: 0px;
        width: 275%;
        background: #fff;
        padding: 12px;
        border: 1px solid #e84a27;
        font-size: 1em;
        line-height: 1.35em;
        color: black;
        font-family: "Source Sans Pro", sans-serif;
    }
}

@media only screen and (max-width: 1300px) {
    .circlecol { display: none; }
  }

main div.sponsortext {
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
    padding: 10px;
    min-height: 50px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

main ilw-grid.sponsors > div {
    align-content: center;
}

table {
    margin: auto;
    width: 100%;
    font-family: "Source Sans Pro",sans-serif;
    font-size: 1.5em;
    border-top: thin var(--il-orange) solid;
    border-bottom: thin var(--il-orange) solid;
    padding-top: 20px;
    margin-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  
  th {
    font-weight: 700!important;
    padding-left: 20px;
    font-size: 1.275em!important;
  }
  td {
    margin-right: 5px!important;
    font-family: "Source Sans Pro",sans-serif;
  }
  
  table td {
      padding: .5em 20px .7em!important;
  }
  td:nth-of-type(1){
    background: #eee;
  }
  
  td:nth-of-type(2){
    background: rgba(167, 197, 226, 0.6);
  }
  
  td:nth-of-type(3){
    background: rgba(232, 193, 160, 0.6);
  }
  