<!doctype html>
<html lang="en">
    <head>
        {% include head.liquid %}
    </head>
    <body class="{{ bodyClass }}">
        {% include menu.liquid %}
        <main class="article">
        <h1>{{ pageTitle | transformTitle: titleStart, titleEnd }}</h1>
        {{ content }}
        </main>
    </body>
</html>