<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ pageTitle }} | College of Education | U of I</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link type="text/css" href="../style/site.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Montserrat:wght@400;500;800&display=swap" rel="stylesheet">
    </head>
    <body>
        <main class="article">
        <h1>{{ pageTitle }}</h1>
        {{ content }}
        </main>
    </body>
</html>