<il-header>
    <div slot="wordmark">
    <il-unit-wordmark>
    <p class="il-primary-unit"><a href="https://education.illinois.edu">College of Education / </a> <a href="https://library.illinois.edu">University Library</a></p>
    <h1 class="il-secondary-unit"><a href="/">Youth Literature Festival</a></h1>
    </il-unit-wordmark>
    </div>
</il-header>