<!doctype html>
<html lang="en">
    <head>
        {% include head.liquid %}
    </head>
    <body>
        <main class="imagelist">
        <h1>{{ pageTitle }}</h1>
        {{ content }}
        </main>
    </body>
</html>