<header>
        <a href="https://illinois.edu"><img src="/img/menu/illinois{{ menu }}.png" alt="University of Illinois"></a>
        <p class="title"><a href="/">2020 Impact Report</a><br><a href="https://education.illinois.edu">College of Education</a></p>
        </div>
        <nav><a href="{{ previousLink }}" class="wide"><i class="fas fa-backward"></i></a>
        <a href="../#toc" class="wide"><i class="fas fa-home"></i></a>
        <a href="{{ nextLink }}" class="wide"><i class="fas fa-forward"></i></a>
        </nav>
</header>