<header>
        <a href="https://illinois.edu"><img src="/img/menu/illinois.png" alt="University of Illinois"></a>
        <p class="title"><a href="/">Youth Literature Festival</a><br><a href="https://education.illinois.edu">College of Education</a></p>
        </div>
</header>