<!doctype html>
<html lang="en">
    <head>
        {% include head.liquid %}
    </head>
    <body class="{{ bodyClass }}">
        <div class="bannerPhoto homeBannerImage"> </div>
        {% include menu.liquid %}
        <div class="main">
        <main>
        <h1>{{ pageTitle }} </h1>
        <p class="tagline">{{ tagline }} </p>
        {{ content }}
        </main>
        <aside>
            {% include sidebar.liquid %}
        </aside>
        </div>
        {% include call.liquid %}
        <footer>
            {% include footer.liquid %}
        </footer>
    </body>
</html>