<div class="donation">
<h2>Support the Love of Literature</h2>
<p>Your donation helps make the Youth Literature Festival possible.</p>
<div style="text-align: center"><a class="button" href="#">Give Now</a></div>
<p>Please select the <strong>Youth Literature Festival Fund </strong>on the general College of Education donation page when making your donation. 
<span>Thank you!</span></p>
</div>

<div class="buttons"> 
<div class="btn button-one"> <img src="/img/sidebar/authors.png" alt="Authors"> <a href="/authors/index.html">Authors</a> </div> 
<div class="btn button-two"> <img src="/img/sidebar/schools.png" alt="Schools"> <a href="/schools/index.html">Schools</a> </div> 
<div class="btn button-three"> <img src="/img/sidebar/community.png" alt="Community"> <a href="/community/index.html">Community</a> </div> 
</div>
