<h2 class="first">Upcoming Events</h2> 
<div class="wrapper"> <div class="eventDate"> <div class="eD">MAR<hr><span>28</span> </div> </div> 
<div class="eventInfo"> <a href="/schools/index.html">School Visit<br>Day 1<br></a> 
<span class="eventTime">8:00 AM - 3:00 PM</span></div> </div> 
<div class="wrapper"> <div class="eventDate"> <div class="eD">MAR<hr><span>29</span> </div> </div> 
<div class="eventInfo"> <a href="/schools/index.html">School Visit<br>Day 2<br></a> 
<span class="eventTime">8:00 AM - 3:00 PM</span></div> </div> 
<div class="wrapper"> <div class="eventDate"> <div class="eD">MAR<hr><span>30</span> </div> </div> 
<div class="eventInfo"> <a href="/community/index.html">Community Day <br>at iHotel<br>Day 3<br></a> 
<span class="eventTime">10:00 AM - 3:00 PM</span></div> </div> 

<div class="donation">
<h2>Support the Love of Literature</h2>
<p>Your donation helps make the Youth Literature Festival possible.</p>
<div style="text-align: center"><a class="button" href="#">Give Now</a></div>
<p>Please select the <strong>Youth Literature Festival Fund </strong>on the general College of Education donation page when making your donation. 
<span>Thank you!</span></p>
</div>

<div class="buttons"> 
<div class="btn button-one"> <img src="/img/sidebar/authors.png" alt="Authors"> <a href="/authors/index.html">Authors</a> </div> 
<div class="btn button-two"> <img src="/img/sidebar/schools.png" alt="Schools"> <a href="/schools/index.html">Schools</a> </div> 
<div class="btn button-three"> <img src="/img/sidebar/community.png" alt="Community"> <a href="/community/index.html">Community</a> </div> 
</div>