<!doctype html>
<html lang="en">
    <head>
        {% include head.liquid %}
    </head>
    <body class="{{ bodyClass }}">
        {% include menu.liquid %}
        <main class="splash">
        <h1 class="visuallyhidden">{{ pageTitle }} </h1>
        <img src="/img/backgrounds/{{ backgroundImage }}" alt="" style="width: 100%;">
        </main>
    </body>
</html>