<!doctype html>
<html lang="en">
    <head>
        {% include head.liquid %}
    </head>
    <body>
        <main class="title">
            <h1 class="visuallyhidden">{{ pageTitle }}</h1>
            <a href="message-from-dean-anderson"><img src="/img/great_minds_title.png" alt="{{ pageTitle }}" class="titleimage" /></a>
            <a id="toc"></a>
            <div class="contents">
            {{ content }}
            </div>
        </main>
    </body>
</html>