.article {
    padding: 30px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;

    h1,
    h2,
    h3,
    h4 {
        color: $blue_base;
    }

    h1 {
        font-family: "Fjalla One", sans-serif;
        font-size: 4em;
        font-weight: normal;
    }

    p.full img {
        width: 100%;
        max-width: 100%;
    }

    img {
        max-width: 50%;

        &.left {
            float: left;
            padding: 30px 30px 30px 0;
        }

        &.right {
            float: right;
            padding: 30px 0 30px 30px;
        }

        &.top-left {
            float: left;
            padding: 0 30px 30px 0;
        }

        &.top-right {
            float: right;
            padding: 0 0 30px 30px;
        }
    }

    .aside {
        float: left;
        width: 40%;
        margin-right: 20px;
        border-top: thin solid $orange_base;
        border-bottom: thin solid $orange_base;
    }
}
