aside {
    width: 440px;
    background: #dbf3fa;
    margin-left: 30px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 10px;

    h2 {
        margin-top: 5em;
        font-size: 1.8em;
        text-align: center;
    }

    h2.first {
        margin-top: 0;
    }
}