ul.imagegrid {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(auto-fit,300px);
    text-align: center;
    grid-gap: 20px;
    padding-left: 0;

    &.wide {
        grid-template-columns: repeat(auto-fit,450px);
    }

    &.extrawide {
        grid-template-columns: repeat(auto-fit,600px);
        grid-gap: 50px;
    }

    img {
        max-width: 80%;
        width: 80%;
        padding: 0 10%;
    }
    
    &.text {
        text-align: left;

        li {
            background: $cloud_base;
            padding: 10px;

            &.nopadding {
                padding: 0;
            }

            h3 {
                color: $cloud_base;
                background: $blue_base;
                padding: 10px;
                margin: 0;
            }

            .pi {
                font-weight: bold;
            }

            p {
                padding: 0 10px;
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    ul.imagegrid {
        display: block;

        li {
            margin-bottom: 20px;
        }
    }
}