.bannerPhoto {
    position: relative;
    width: 100%;
    height: 700px;
    max-height: 50vw;
    background-size: cover;
    clear: both;
    background-repeat: no-repeat;
    background-position: center;

    &.homepage {
        background-position: top;
    }
}

