a.button {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    display: block;
    padding: .75em 1em;
    background: $orange_base;
    color: #fff;
    text-align: center;
    text-decoration: none!important;
    border: 2px solid transparent;
    margin: 40px 10%;
    font-size: 1.5em;
}

a.button:hover, a.button:focus {
    color: #fff;
    background: $blue_base;
}