body {
    margin: 0;
    padding: 0;
    background: $background;
}

p,
h1,
h2,
h3,
h4,
li {
    font-family: "Montserrat", sans-serif;
}

ul.no-bullets {
    list-style: none;
    padding-left: 1em;
}

.clear {
    clear: both;
}

.xx-large {
    font-size: 2.5em;
}

.x-large {
    font-size: 1.5em;
}

.large {
    font-size: 1.25em;
}

.small {
    font-size: 0.75em;
}

.x-small {
    font-size: 0.5em;
}

.orange {
    color: $orange_base;
}

.blue {
    color: $blue_base;
}

.bold {
    font-weight: bold;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: $orange_base;
}
a:hover, a:focus {
    color: $blue_base;
    transition: .5s;
}

.caption {
    font-size: .8em;
    font-style: italic;
    text-align: right;
}