body {
    margin: 0;
    padding: 0;
}

p,
h1,
h2,
h3,
h4,
li {
    font-family: "Montserrat", sans-serif;
}

ul.no-bullets {
    list-style: none;
    padding-left: 1em;
}

.x-large {
    font-size: 1.5em;
}

.large {
    font-size: 1.25em;
}

.small {
    font-size: 0.75em;
}

.x-small {
    font-size: 0.5em;
}

.orange {
    color: $orange_base;
}

.blue {
    color: $blue_base;
}

main {
    margin-top: 72px;
}
