ul.imagegrid {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(auto-fit,300px);
    text-align: center;
    grid-gap: 20px;

    &.wide {
        grid-template-columns: repeat(auto-fit,450px);
    }

    img {
        max-width: 80%;
        width: 80%;
    }
    
    &.text {
        text-align: left;

        li {
            background: $cloud_base;
            padding: 10px;

            h3 {
                color: $orange_base;
            }

            .pi {
                font-weight: bold;
            }
        }
    }
}