ul.imagegrid {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(auto-fit,300px);
    text-align: center;
    grid-gap: 20px;

    a {
        font-weight: bold;
        color: $orange_base;
        text-decoration: none;
    }

    img {
        max-width: 80%;
        width: 80%;
    }

    a:hover, a:focus {
        color: $blue_base;
        transition: .5s;
    }
    
    &.text {
        text-align: left;

        li {
            background: $cloud_base;
            padding: 10px;

            h3 {
                color: $orange_base;
            }

            .pi {
                font-weight: bold;
            }
        }
    }
}