$blue_base: #13294B;
$lightblue_base: #3B79B8;
$orange_base: #FF552E;
$orange_algeld_base: #DD3404;
$white_base: #FEFEFE;
$cloud_base: #F8FAFC;
$black_base: #030303;
$background: #323232;

@import 'campus-overrides.scss';
@import 'aside.scss';
@import 'aside-buttons.scss';
@import 'aside-donate.scss';
@import 'aside-events.scss';
@import 'authorlist.scss';
@import 'bannerphoto.scss';
@import 'blockquote.scss';
@import 'button.scss';
@import 'cta.scss';
@import 'circles.scss';
@import 'global.scss';
@import 'menu.scss';
@import 'sponsors.scss';
@import 'body.scss';
@import 'photolist.scss';
@import 'table.scss';
@import 'visuallyhidden.scss';