$blue_base: #13294B;
$orange_base: #FF552E;
$orange_algeld_base: #DD3404;
$white_base: #FEFEFE;
$cloud_base: #F8FAFC;
$black_base: #030303;

@import "./node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "./node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import 'article.scss';
@import 'blockquote.scss';
@import 'title.scss';
@import 'facultygrid.scss';
@import 'head.scss';
@import 'imagelist.scss';
@import 'menu.scss';
@import 'splash.scss';
@import 'visuallyhidden.scss';