.numbers {

    padding: 50px;
    max-width: 1200px;
    margin: auto;
    
    h1 {
        font-family: "Fjalla One", sans-serif;
        font-size: 4em;
        margin-bottom: 0;
        padding-top: 1em;
        font-weight: normal;
        text-transform: uppercase;
        color: $blue_base;
    }

    p.tagline {
        font-size: 2em;
    }

    h2 {
        background-color: $blue_base;
        color: white;
        border-bottom: thin solid $blue_base;
        padding: 10px 20px;
        margin: 2em 0;
    }

    p {
        line-height: 1.8em;
    }

    li {
        line-height: 1.8em;
        margin-bottom: .4em;
    }

    .stats {
        display: grid;
        grid-template-columns: repeat(auto-fit, 350px);
        text-align: center;
        justify-content: space-evenly;
        padding-left: 0;

        li {
            padding: 1vw;
            font-size: 1em;
            line-height: initial;

            span {
                font-size: 4em;
                font-weight: bold;
                display: block;
                color: $orange_base;
            }
        }
    }
}