body.nofade .splash .full {
    background: none;
}

body.centered .splash .full {
    padding: 0 30vw;
}

body.top-background .splash {
    background-position: top;
}

.splash {
    display: flex;
    color: white;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .full {
        background: rgba(0,0,0,.35);
        width: 100%;
        padding: 5em 0;
        min-height: calc(100vh - 10em);

        h1 {
            text-align: center;
        }

        .intro-text {
            font-size: 3em;
            font-family: 'Fjalla One', sans-serif;
        }

        .stats {
            display: grid;
            grid-template-columns: repeat(auto-fit, 400px);
            text-align: center;
            justify-content: space-evenly;

            li {
                padding: 1vw;
                font-size: 1.5em;

                span {
                    font-size: 5em;
                    font-weight: bold;
                    display: block;
                }
            }
        }
    }

    .left {       
        background: rgba(0,0,0,.35);
        width: 70%;
        padding: 50px 5vw 0 10vw;

        .intro-text {
            font-size: 3em;
            font-family: 'Fjalla One', sans-serif;
        }

        .stats {
            display: grid;
            grid-template-columns: repeat(auto-fit, 350px);
            text-align: center;

            li {
                padding: 1vw;
                font-size: 1em;

                span {
                    font-size: 4em;
                    font-weight: bold;
                    display: block;
                }
            }
        }
    }

    .right {
        width: 30%;
        padding: 50px 2vw;
        background: rgba(19,41,75,.8);

        h2 {
            font-size: 2em;
            font-family: 'Fjalla One',sans-serif;
        }
        h2, h3 {
            color: #ff5532;
        }
    }
}

@media only screen and ( max-width: 1000px ) {
    .splash {
        display: block;
   
        .left {       
            width: initial;
            }
   
        .right {
            width: initial;
        }
    }

    body.centered .splash .full {
        padding: initial;
    }
   
}

@media only screen and (max-width: 500px ) {
    .splash .left .stats {
        display: block;
    }

    .splash .full .stats {
        display: block;
    }
}