body.student {
    background-color: $blue_base;
}

.student {
    display: flex;
    color: white;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

    min-height: 100vh;
    margin: auto;

    .box {
        background: rgba(19, 41, 75, 0.8);
        color: white;
        position: absolute;
        padding: 15px;
        left: 72%;
        width: 35%;
        top: 8vh;

        &.topleft {
            left: 2%;
        }

        &.bottomleft {
            left: 2%;
            top: 50vh;
        }

        h1 {
            font-family: "Fjalla One";
            color: $orange_base;
            margin-bottom: 0;
            padding-bottom: 0;
        }

        h2 {
            font-size: 1.3em;
            font-weight: bold;
            color: $orange_base;
            margin-top: 0;
        }

        p {
            font-size: 1.3em;
            line-height: 1.4em;
        }

        p.blockquote-small {
            font-weight: bold;
        }
    }
}

@media only screen and (max-width: 800px) {
    .student {
        .box {
            width: auto;
            left: 0;
            top: 80vh;
        }
    }
}
