.tenways {
    text-decoration: none;
    font-style: normal;
    font-size: 1.8em;
    font-weight: 700;
    line-height: 1.6em;
    padding: 5px;
    background: #FF552E;
    border-radius: 50%;
    float: left;
    height: 50px;
    width: 50px;
    margin-right: 20px;
    color: white;
    text-align: center;
}

.tenways-body .article p {
    clear: both;
    padding: 1em;
    min-height: 55px;
}